*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/shared/preferences/build/
/shared/preferences/build/intermediates/javac/debug/classes/
/shared/ui/build/
/shared/ui/build/intermediates/javac/debug/classes/